:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-2: #ffffff;
  --background-color:#2F303A;
  --background-color-2:#F5F4FA;
}

body  {
  font-family: Roboto;
  font-style: normal;
  min-width: 1250px;
  margin: 0 auto;
}

ul {
  list-style: none;  
  padding-left: 0px;
}

a {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  line-height: 1.19;  
  margin-right: 93px;
  display: flex;
}

.logo span {
  color: #000;
}

footer .logo span {
  color: var(--accent-color-2);
}

.nav-list a{
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-list li,
.contacts li {
    margin-right: 50px;
}

.nav-list li:last-child,
.contacts li:last-child {
  margin-right: 0px;
}

.nav-list ul {
  display: flex;
  padding: 0%;
  margin-right: 331px;
}

.contacts a {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contacts {  
  padding: 0%;
  display: flex;
}

.mailshadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  /*width: 1600px;*/
  height: 80px;
  align-items: center ;
  justify-content: center;
  display: flex;
  border: 1px solid #ECECEC
}

.hero {
  height: 600px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero h1 {
  color: var(--accent-color-2);
  width: 696px;
  height: 120px;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 60px;
  margin-top: 200px; 
  margin-bottom: 30px; 
}

.pbutton,
.button { 
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;  
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
}

.button {
  color: var(--accent-color-2);
  background-color: var(--accent-color);
  padding: 10px 32px;  
  line-height: 30px;  
  font-weight: 700;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pbutton {
  background-color: var(--background-color-2);
  color: var(--title-text-color);  
  padding: 9.7px 22px;
  margin-right: 8px;
  font-weight: 500;  
  line-height: 38px;
}

.pbutton:hover,
.pbutton:focus {
  color: var(--accent-color-2);
  background-color: var(--accent-color);  
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.20));
  filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25));  
}

.features h3 {
  color: var(--title-text-color);  
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.42px;
  font-weight: 700;
  text-transform: uppercase;
}

.features p {
  color: var(--primary-text-color);
  margin-top: 0px;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.71;
}

.features ul {
  display: flex;  
  margin: 0px;
}

.features li {
  margin-right: 30px;
  height: 101px;
  width: 270px;
}

.features li:last-child {
  margin-right: 0px;
}

.features {
  margin-top: 94px;
  margin-bottom: 94px;
  align-items: center ;
  flex-direction: column;
  display: flex;
}

.services h2,
.team h2 {
  margin: 0px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
}

.services ul {
  display: inline-flex;
  margin-top: 50px;
  margin-bottom: 94px;
}

.services li {  
  margin-right: 30px;
}

.services li:last-child {
  margin-right: 0px;
}

.services {  
  align-items: center ;
  flex-direction: column;
  display: flex;
}

.team {
  background-color: var(--background-color-2);
  height: 460px;
  text-align: center;
  padding: 94px 0px;
}

.team h3 {
  color: var(--title-text-color);
  margin: 30px 0px 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team p {
  color: var(--primary-text-color);
  margin: 0px;
  font-size: 16px;
  letter-spacing: 0.48px;
}

.team ul {
  margin-top: 50px;
  display: inline-flex;
  background-color: var(--background-color-2);
}

.team li {
  background-color: var(--accent-color-2);
  height: 368px;
  margin-right: 30px;
  border-radius: 0px 4px 4px;
  border: 0px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}

.team li:last-child {
  margin-right: 0px;
}

footer {
  background-color: var(--background-color);
  height: 132px;
  padding: 60px 0px;
  font-style: normal;
  align-items: center ;
  flex-direction: column;
  display: flex;
}

.footer ul {
  margin-top: 20px;
  flex-direction: column;
  width: 1170px;
}

.footer li {
  margin: 0px 0px 10px;
}

.footer .logo {
  width: 1170px;
  margin-right: 0px;
}

footer .contacts a {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  color: #fff;
}

.psection {
  flex-direction: column;
  display: flex;
  align-items: center ;
  margin-left: 30px;
  margin-top: 100px;
}

.pgallery-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin: 20px 0px 4px 24px;
}

.pgallery-work {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 0 24px;
}

.pgallery {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 14px 0 94px;
}

.pgallery li {
  height: 404px;
  margin-top: 30px;
  margin-right: 30px;
  outline: 1px solid #EEEEEE;
}


